[Unit]
Description=QuietWind Weather Station
After=multi-user.target

[Service]
ExecStart=/usr/local/qw/bin/WeatherStation -j
Type=simple

[Install]
WantedBy=multi-user.target
