#
# This file gets included by start_gdbserver.sh and stop_gedbserver.sh
# so they both have the same data and it only needs to be changed in one place
#
target_ip="192.168.50.234"
target_gdbserver_port=":4711"
target_command="/usr/local/qw/bin/WeatherStation"
target_config="/usr/local/qw/etc/ws_config.json"
target_args="-l file:/tmp/debug.log"
target_stdin="/dev/null"
target_stdout="/var/tmp/weather_station.out"
target_stderr="/dev/null"
target_user="chrisk"
build_command="build/src/WeatherStation"
build_config="src/config/ws_config.json"
