#
# This file gets included by start_gdbserver.sh and stop_gedbserver.sh
# so they both have the same data and it only needs to be changed in one place
#
target_ip="192.168.50.200"
target_gdbserver_port=":4711"
target_command="/usr/local/ws/bin/WeatherStation"
target_user="chrisk"
build_command="build/src/WeatherStation"